/*variables*/
@import '/src/assets/scss/core/variables';
/*fonts*/
@import '/src/assets/scss/core/fonts';
/*components*/
@import '/src/assets/scss/components/index';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-size: 18px;
}

body {
  background-image: url('../../assets/images/Background.png');
  background-size: cover;
  overflow-x: hidden;
}

#root {
  display: flex;
  height: 98vh;
  padding: 0.5rem;
}
