.slider {
  margin-right: 20px;
  position: relative;
  width: 500px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    transition: all 2s ease-in;
    top: 0;
    left: 10%;
    &_prev {
      transform: translateX(-150%);
    }
    &_next {
      transform: translateX(150%);
    }
  }
}
.img {
  width: 400px;
  border-radius: 15px;
}
